* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: #333;
}
body .wrap {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #6ba7ae;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
  /*
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #ffcd00;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
  */
}
body .wrap .flag {
  width: 100%;
  height: 50%;
  position: absolute;
  margin-top: 300px;
  margin-left: -100px;
  z-index: 4;
}
body .wrap .rudalf {
  width: 50%;
  height: 70%;
  position: absolute;
  margin-top: 20px;
  margin-left: 90px;
  z-index: 3;
}
body .wrap .leftarm {
  width: 30%;
  height: 50%;
  position: absolute;
  margin-top: 210px;
  margin-left: 16px;
  z-index: 2;
  transform-origin: 100% 0%;
  animation: leftarm linear 7s infinite;
}
body .wrap .rightarm {
  width: 30%;
  height: 40%;
  position: absolute;
  margin-top: 80px;
  margin-left: 270px;
  z-index: 1;
  transform-origin: 0% 100%;
  animation: leftarm linear 5s infinite;
}
body .wrap .flower {
  width: 20%;
  height: 20%;
  position: absolute;
  margin-top: 330px;
  margin-left: 350px;
  z-index: 3;
}
body .wrap .eyes {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 100%;
  left: -34px;
  text-align: center;
  overflow: hidden;
  z-index: 5;
}
body .wrap .eyes .eye {
  width: 40px;
  height: 30px;
  background-color: white;
  position: relative;
  display: inline-block;
  margin: 15px;
  border-radius: 50%;
}
body .wrap .eyes .eye .ball {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #333;
}
body .wrap .lip {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  display: flex;
  top: 30%;
  left: 34%;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
body .wrap .lip:hover::before {
  top: 60px;
  width: 60px;
  height: 4px;
  background: orangered;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: 0.5s;
}
body .wrap .lip::before {
  content: " ";
  position: absolute;
  top: 60px;
  width: 60px;
  height: 40px;
  border-radius: 4px;
  background: orangered;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  transition: 0.5s;
}
@keyframes leftarm {
  0% {
    transform: rotate(20deg);
    opacity: 1;
  }
  25% {
    transform: rotate(10deg);
    opacity: 1;
  }
  50% {
    transform: rotate(20deg);
    opacity: 1;
  }
  75% {
    transform: rotate(10deg);
    opacity: 1;
  }
  100% {
    transform: rotate(20deg);
    opacity: 1;
  }
}
@keyframes rightarm {
  0% {
    transform: rotate(30deg);
    opacity: 1;
  }
  25% {
    transform: rotate(50deg);
    opacity: 1;
  }
  50% {
    transform: rotate(30deg);
    opacity: 1;
  }
  75% {
    transform: rotate(50deg);
    opacity: 1;
  }
  100% {
    transform: rotate(30deg);
    opacity: 1;
  }
}

.nose {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100px;
  min-height: 100px;
  z-index: 5;
  transform: translate(163%, 30%);
}
.nose a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #ff1b1b;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font: 24px;
  overflow: hidden;
  transition: 0.2s;
}
.nose a:hover {
  color: #ffffff;
  background: #ff0101;
  border-radius: 50%;
  box-shadow: 0 0 10px #ff010146, 0 0 40px #ff0202a6, 0 0 80px #ff0000;
}

/*
    .eye1{
            width: 15px;
            height: 15px;
            position: absolute;
            margin-top: 150px;
            margin-left: 180px;
            border-radius: 50%;
            background: rgb(0, 0, 0);
            z-index: 4;
    }

    .eye2{
            width: 15px;
            height: 15px;
            position: absolute;
            margin-top: 150px;
            margin-left: 240px;
            border-radius: 50%;
            background: rgb(0, 0, 0);
            z-index: 4;
    }


    .nose{
            width: 30px;
            height: 30px;
            position: absolute;
            margin-top: 180px;
            margin-left: 200px;
            border-radius: 50%;
            background: rgb(255, 11, 11);
            box-shadow: 5px 5px 10px 1px rgba(223, 0, 0, 0.513);

            z-index: 4;
    }

    .lip{
        width: 60px;
        height: 25px;
        position:absolute;
        background: rgb(255, 117, 53);
        -moz-border-radius: 0 0 90px 90px;
        -webkit-border-radius: 0 0 90px 90px;
        box-shadow: 5px 5px 10px 1px rgba(78, 46, 9, 0.404);
        border-radius: 0 0 90px 90px;
        margin-top: 220px;
        margin-left: 185px;
        z-index: 5;

    }
}

*/

/*# sourceMappingURL=style.css.map */
